html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  width: 1440px;
  height: 90px;
  padding: 0 20px;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

li:pointer {
  cursor: pointer;
}

.nav {
  margin-left: auto;
  padding-right: 31px;
}

.nav-link {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
}

.nav-link a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
}

.switchlng-en {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #bdae82;
}

.switchlng-slash {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.switchlng-ru {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.hero-container {
  background-image: url(./assets/img/bg.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  width: 1440px;
  padding-top: 160px;
  padding-left: 80px;
  margin: 0 auto;
}

.hero-box {
  max-width: 500px;
  padding-right: 30px;
}

.hero-title {
  /* height: 120px; */
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-text {
  height: 120px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}

.section-title-wrapper {
  width: 50%;
  /*height: 2px;*/
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 60px;
  height: 80px;
  width: 112;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.bg-title {
  background-color: #000000;
  padding: 20px;
}

.icon {
  /*width: 30px;
  height: 30px;*/
  fill: #bdae82;

  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  /*margin-left: 129px;*/
  /*background-size: 62px 50px;*/
}

.icon:hover {
  fill: white;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*background-position: center top;*/
}

/* .skill-item:nth-child(1) {
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
} */

.skills-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.item-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 45px;
}

.item-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  padding-top: 17px;
  color: #ffffff;
}

.button-gold {
  height: 55px;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 220px;

  background: #bdae82;
}

.button-transparent {
  height: 55px;
  background: none;
  border-radius: 0px;
  border: 1px solid #bdae82;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-right: 4px;
  display: inline-block;
  width: 220px;
  color: #bdae82;
}

.btn-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
