html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  background-image: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  align-items: center;
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 0.7s;
  fill: #ffffff;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
  padding-right: 31px;
}

.nav-li {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
}

.nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  transition: 0.7s;
  color: #ffffff;
}

.nav-li:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.switch-lng {
  width: 70px;
  text-align: justify;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.switchlng {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.switchlng.active {
  display: inline-block;
  color: #bdae82;
  text-decoration: none;
}

.switchlng-slash {
  display: inline-block;
  color: #ffffff;
}

.hero-container {
  background-image: url("./assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
}

.hero-box {
  max-width: 500px;
  padding-right: 30px;
}

.hero-title {
  margin-bottom: 10px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.section-title-wrapper {
  width: 50%;
  height: 80px;
  margin: 100px auto 60px auto;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section-title {
  display: inline-block;
  padding: 0 20px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  background-color: #000000;
  color: #bdae82;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  transition: 0.7s;
  fill: #bdae82;
}

.item-title {
  padding-top: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.item-text {
  margin-top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.button-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.button-gold {
  display: inline-block;
  height: 55px;
  width: 220px;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  transition: 0.7s;
  color: #000000;
  background: #bdae82;
}

.button-gold:hover {
  color: white;
}

.button-transparent {
  display: inline-block;
  height: 55px;
  width: 220px;
  border-radius: 0px;
  border: 2px solid #bdae82;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  transition: 0.7s;
  background-color: transparent;
  color: #bdae82;
}

.pulse:hover, .pulse:focus{
	box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	animation: pulse 1s;
}
@keyframes pulse{
	0%{box-shadow: 0 0 0 0 #bdae82}
}

.button-transparent:hover {
  color: white;
}

.button-transparent.active {
  color: #000000;
  background: #bdae82;
}

.portfolio-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}






.video-player {
  background-image: url("./assets/video/video.mp4");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  max-height: 705px;
}

.video-button {
  background-image: url("./assets/svg/Play_hover.svg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 130px;
  margin-bottom: 40px;
  transition: 0.7s;
  z-index: 3;
  color: #ffffff;
}

.video-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    cursor: pointer;
}

.viewer {
  width: 100%;
  height: auto;
  border: 1px solid #bdae82;
  border-bottom: 0;
  box-sizing: border-box;
}

 .poster {
  background-image: url('./assets/img/video-player.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: 0.7s;
  cursor: pointer;
}

.control-box {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items:center;
  width: 100%;
  height: 60px;
  /* padding-bottom: 20px; */
  background-color: #000000;
  border: 1px solid #bdae82;
  border-top: 0;
}

.play-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 36px;
  transition: 0.7s;
}

.play-icon:hover,
.play-icon:active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    cursor: pointer;
}

.play {
  background-image: url('./assets/svg/play.svg');
}

.pause {
  background-image: url('./assets/svg/pause.svg');
}

.volume-icon {
  background-image: url('./assets/svg/volume.svg');
}

.mute {
  background-image: url('./assets/svg/mute.svg');
}

.progress,
.volume {
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 0%,
    #c8c8c8 0%,
    #c8c8c8 100%
  );
  height: 10px;
  width: calc(80% - 160px);
  /* transition: background 450ms ease-in; */
  appearance: none;
  /* outline: none; */
}

/* 
.progress, */
.volume {
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 40%,
    #c8c8c8 40%,
    #c8c8c8 100%
  );
  width: calc(20% - 40px);
}

/* .volume {

} */

.progress::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}







.price-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.price-border {
  border: 3px solid #bdae82;
  width: 450px;
  padding-bottom: 40px;
}

.price-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  padding-top: 42px;
  color: #ffffff;
}

.price-number {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdae82;
}

.price-text {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.price-minibox {
  margin-bottom: 40px;
}

.contacts-container {
  background-image: url("./assets/img/contacts.jpg");
  height: 700px;
  margin-top: 100px;
  padding-left: 0;
  padding-top: 60px;
}

.contacts-box {
  width: 450px;
  margin-left: auto;
  text-align: left;
}

.contacts-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 42px;
}

.input-box {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 20px;
}

.textarea-box {
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  border-radius: 0px;
  height: 100px;
  margin-bottom: 25px;
}

::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding-left: 5px;
}

.contacts-block {
  display: inline-block;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: white;
  padding-left: 15px;
}

.footer-container {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

.footer-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  margin-right: 15px;
  display: inline-block;
  text-align: justify;
  color: #ffffff;
}

.footer-link-gold:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.7s;
}

.footer-text-link {
  text-decoration: none;
}

.footer-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  margin-left: 60px;
  text-align: justify;
  text-decoration: none;
  color: #ffffff;
}

.ul-link {
  text-decoration: none;
  transition: 0.7s;
  display: inline-block;
  list-style: none;
}

.icon2 {
  width: 30px;
  height: 30px;
  margin-left: 18px;
  transition: 0.7s;
  fill: #ffffff;
}

.icon2:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}





 /* светлая тема */

body.light {
  background: #ffffff;
}

.switch-lng { 
  margin-right: 20px;
}

.theme-button {
  background-image: url("./assets/svg/sun.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  margin-top: 0;
  margin-right: 0;
  transition: 0.7s;
  cursor: pointer;
  fill: #ffffff;
}

.theme-button:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
}

.theme-button.light {
  background-image: url("./assets/svg/moon.svg");
}

.theme-button:hover.light {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
    brightness(92%) contrast(87%);
}

.line-1.light {
  background-color: #000000;
}

.line-3.light {
  background-color: #000000;
}

.section-title.light {
  background-color: #ffffff;
  color: #000000;
}

.section-title-wrapper.light {
   background-image: linear-gradient(to top, #ffffff 39px, #000000 39px,  #000000 41px,#ffffff 41px );
}

.item-title.light {
  color: #000000;
}

.item-text.light {
  color: #000000;
}

.button-transparent.light {
  background-color: #fff;
  color: #000;
}

.button-transparent.active.light {
  color: white;
  background: #bdae82;
}

.button-transparent.light:hover {
  color: #000;
}

.button-gold.light  {
  color: white;
}

.button-gold.light:hover {
  color: #000000;
}

.price-title.light {
  color: #000;
}

.price-text.light {
  color: #000;
}

.footer-container.light {
  background: #000000;
}

.footer-text.light {
  color: white;
}
