html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  background-image: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  align-items: center;
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  fill: #ffffff;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
  padding-right: 31px;
}

.nav-link {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
}

.nav-link a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  color: #ffffff;
}

.nav-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.switch-lng {
  width: 70px;
  text-align: justify;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.switchlng-en {
  display: inline-block;
  color: #bdae82;
  text-decoration: none;
}

.switchlng-slash {
  display: inline-block;
  color: #ffffff;
}

.switchlng-ru {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}


.three {
  /* display: block; */
  box-sizing: border-box;
  color: #ecf0f1;
  text-align: center;
  display: none;
 
}

/* .col {
  /* float: left;
  margin: 1% 0 1% 1.6%; */
 
.hamburger .line {
  width: 50px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}







.hero-container {
  background-image: url("./assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
}

.hero-box {
  max-width: 500px;
  padding-right: 30px;
}

.hero-title {
  margin-bottom: 10px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}

.hero-text {
  margin-bottom: 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.section-title-wrapper {
  width: 50%;
  height: 80px;
  margin: 100px auto 60px auto;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section-title {
  display: inline-block;
  padding: 0 20px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  background-color: #000000;
  color: #bdae82;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  transition: 0.3s;
  fill: #bdae82;
}

.item-title {
  padding-top: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}

.item-text {
  margin-top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.button-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.button-gold {
  display: inline-block;
  height: 55px;
  width: 220px;
  border-radius: 0px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background: #bdae82;
}

.button-gold:hover {
  color: white;
}

.button-transparent {
  display: inline-block;
  height: 55px;
  width: 220px;
  border-radius: 0px;
  border: 2px solid #bdae82;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  color: #bdae82;
}

.button-transparent:hover {
  color: white;
}

.portfolio-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1400px; */
  width: 100%;
  height: 705px;
  background-image: url("./assets/img/video-player.jpg");
  /* background-size: 750px; */
  background-position: center;
  background-repeat: no-repeat;
}

.video-player-button {
  background-image: url("./assets/svg/Play_hover.svg");
  color: #ffffff;
  width: 130px;
  height: 130px;
  transition: 0.3s;
}

.video-button {
  padding: 0;
  border: none;
}

.video-player-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.price-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 505px;
  text-align: center;
}

.price-border {
  border: 3px solid #bdae82;
  width: 450px;
}

.price-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  padding-top: 42px;
  color: #ffffff;
}

.price-number {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdae82;
}

.price-text {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.price-minibox {
  margin-bottom: 40px;
}

.contacts-container {
  background-image: url("./assets/img/contacts.jpg");
  height: 700px;
  margin-top: 100px;
  padding-left: 0;
  padding-top: 60px;
}

.contacts-box {
  width: 450px;
  margin-left: auto;
  text-align: left;
}

.contacts-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 42px;
}

input {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  border-radius: 0px;
  height: 100px;
  margin-bottom: 25px;
}

::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  padding-left: 5px;
}

.contacts-block {
  display: inline-block;
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: white;
  padding-left: 15px;
}

.footer-container {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  margin-right: 15px;
  display: inline-block;
  text-align: justify;
  color: #ffffff;
}

.footer-link-gold:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.3s;
}

.footer-text-link {
  text-decoration: none;
}

.footer-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  margin-left: 60px;
  text-align: justify;
  text-decoration: none;
  color: #ffffff;
}

.ul-link {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  list-style: none;
}

.icon2 {
  width: 30px;
  height: 30px;
  margin-left: 18px;
  transition: 0.3s;
  fill: #ffffff;
}

.icon2:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}






 /* @media (max-width: 1440px) { */
 

/* .logo {
    margin-left: 60px;
  }
}  */

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
  }

  .header-container {
    background-image: url("./assets/img/bg-small.jpg");
  }

  .logo {
    margin-left: 40px;
  }

  .nav {
    position: absolute;
    right: -620px;
    flex-direction: column;
    overflow-x: hidden;
  }

  /* .nav {
    display: none;
  } */

  .switch-lng {
    line-height: 50px;
    margin-left: auto;
    margin-right: 10px;
    /* justify-content: space-between; */
  }

.three {
  display: flex;
}

.hamburger .line {
  margin-left: auto;
  margin-right: 45px;
  /* padding-right: 40px; */
} 

  .hero-container {
    height: 500px;
    background-image: url("./assets/img/bg-small.jpg");
    padding-top: 78px;
    padding-left: 20px;
    /* margin-bottom: 80px; */
  }

  .hero-title {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 20px;
  }

  .hero-text {
    line-height: 24px;
    margin-bottom: 60px;
  }

  .hero-box {
    /* max-width: 500px; */
    /* padding-right: 30px; */
    width: 60.5%;
    min-width: 180px;
    margin-left: 40px;
  }

  .section-title-wrapper {
    width: 50%;
    height: 80px;
    margin-top: 80px;
    margin-bottom: 36px;
  }

  .section-title {
    padding: 0 15px;
    font-size: 32px;
    /* line-height: 40px; */
}

.skills-box {
  justify-content: space-between; 
  padding-left: 40px;
  padding-right: 44px;
  padding-top: 10px;
} 

.skills-item {
  width: 300px;
  height: 224px;
   margin-bottom: 36px;
}

.item-title {
  padding-top: 30px;
}

.item-text {
  line-height: 22px;
}

 .icon {
margin-bottom: 0;
}  

.button-box {
padding-bottom: 15px;

/* margin-bottom: 40px; */
}

.video-player {
  height: 418px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  margin-top: 10px;
  /* margin-bottom: 30px; */
}

.video-player-button {
  background-image: url("./assets/svg/play-btn.svg");
  width: 75px;
  height: 75px;
}

.price-box {
  /* top: calc(50% - 505px/2 + 65px);
  left: calc(50% - 420px/2); */
  justify-content: space-around;
  /* padding-bottom: 50px; */
  /* margin-top: 50px; */
}

.price-border {
  width: 420px;
}


.contacts-container {
  background-image: url("./assets/img/contacts2.jpg");
  height: 600px;
}

.contacts-box {
 margin: auto;
  text-align: center;
}





.footer-container {
  height: 190px;
  flex-direction: column;
  justify-content: space-around;
}

.footer-text {
  line-height: 50px;
  /* text-align: center; */
  margin-right: 0;
} 

.footer-link {
  line-height: 24px;
  margin-left: 0;
  /* text-align: center; */
}

ul {
  padding-left: 0;
}

.icon2 {
  width: 32px;
  height: 32px;
}